header {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background-color: var(--color-bg-variant);
  margin-bottom: 3rem;
  border-bottom: solid var(--color-light) 2px;
}

.logo {
  color: var(--color-primary);
}

.searchForm {
  height: 2rem;
  width: 20rem;
  border-radius: 5px;
  margin: 1rem;
}

.menuItem {
  border: solid white 2px;
  border-radius: 5px;
  padding: 0.5rem;
}

.menuItem:hover {
  background-color: var(--color-primary);
  color: black;
  border: none;
}
